<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<meta charset="utf-8">
<meta content="text/html; charset=utf-8" http-equiv="content-type">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-COMPATIBLE" content="IE-EmulateIE9">

<title>{{title}}</title>

<!-- Social Meta -->
<meta name="keywords" content="{{keywords}}">
<meta name="author" content="{{author}}" />
<meta name="copyright" content="{{copyright}}" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta name="format-detection" content="telephone=no">
<meta name="theme-color" content="#{{color_site}}">

<!-- Robots -->
<meta name="location" content="{{location}}">

<!-- Icons -->
<link rel="icon" href="./img/favicon/favicon.ico">
<link rel="apple-touch-icon" sizes="57x57" href="./img/favicon/apple-icon-57x57.png">
<link rel="apple-touch-icon" sizes="60x60" href="./img/favicon/apple-icon-60x60.png">
<link rel="apple-touch-icon" sizes="72x72" href="./img/favicon/apple-icon-72x72.png">
<link rel="apple-touch-icon" sizes="76x76" href="./img/favicon/apple-icon-76x76.png">
<link rel="apple-touch-icon" sizes="114x114" href="./img/favicon/apple-icon-114x114.png">
<link rel="apple-touch-icon" sizes="120x120" href="./img/favicon/apple-icon-120x120.png">
<link rel="apple-touch-icon" sizes="144x144" href="./img/favicon/apple-icon-144x144.png">
<link rel="apple-touch-icon" sizes="152x152" href="./img/favicon/apple-icon-152x152.png">
<link rel="apple-touch-icon" sizes="180x180" href="./img/favicon/apple-icon-180x180.png">
<link rel="icon" type="image/png" sizes="192x192"  href="./img/favicon/android-icon-192x192.png">
<link rel="icon" type="image/png" sizes="32x32" href="./img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="96x96" href="./img/favicon/favicon-96x96.png">
<link rel="icon" type="image/png" sizes="16x16" href="./img/favicon/favicon-16x16.png">
<meta name="msapplication-TileImage" content="./img/favicon/ms-icon-144x144.png">

<!-- Color Site -->
<meta name="msapplication-TileColor" content="#{{color_site}}">

<!-- Open Graph -->
<meta property="og:type" content="website">
<meta property="og:url" content="{{url_site}}">
<meta property="og:title" content="{{title}}">
<meta property="og:image" content="./img/share/{{share_image}}.jpg">
<meta property="og:description" content="{{description}}">
<meta property="og:site_name" content="{{site_name}}">
<meta property="og:locale" content="{{locale}}">

<!-- Facebook meta -->
<meta property="og:title" content="{{title}}"/>
<meta property="og:image" content="./img/share/{{share_image}}.jpg"/>
<meta property="og:url" content="{{url_site}}"/>
<meta property="og:site-name" content="{{site_name}}"/>
<meta name="description" content="{{description}}"/>

<!-- Twitter meta -->
<meta name="twitter:card" content="summary_large_image">

<!-- Twitter name -->
<meta name="twitter:site" content="{{content}}">

<!-- Twitter name -->
<meta name="twitter:creator" content="{{content}}">
<meta name="twitter:title" content="{{title}}">
<meta name="twitter:description" content="{{description}}">
<meta name="twitter:image:src" content="./img/share/{{share_image}}.jpg">

<!-- GOOGLE + Share -->
<meta itemprop="name" content="{{title}}">
<meta itemprop="description" content="{{description}}">
<meta itemprop="image" content="./images/share/{{share_image}}.jpg">

<!-- CSS -->
<link rel="stylesheet" href="./css/main.css">
