<meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<meta charset="utf-8">
<meta content="text/html; charset=utf-8" http-equiv="content-type">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="X-UA-COMPATIBLE" content="IE-EmulateIE9">

<title>{{title}}</title>

<!-- Social Meta -->

<meta name="keywords" content="Portfolio, UX design, UI design, hetic, webdesigner">
<meta name="author" content="Dzianis Makeichyk" />
<meta name="copyright" content="© Copyright 2017 - Dzianis Makeichyk" />
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no">
<meta name="format-detection" content="telephone=no">
<meta name="theme-color" content="#{{color_site}}">

<!-- Robots -->
<meta name="location" content="Warsaw, Poland">

<!-- Icons -->
<link rel="apple-touch-icon" sizes="180x180" href="./images/icons/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="./images/icons/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="./images/icons/favicon-16x16.png">

<!-- Touch icon for iOS 2.0+ and Android 2.1+ -->
<link rel="apple-touch-icon-precomposed" href="./images/icons/favicon-152.png">

<!-- IE 10 Metro tile icon (Metro equivalent of apple-touch-icon) -->
<meta name="msapplication-TileColor" content="#{{color_site}}">
<meta name="msapplication-TileImage" content="./images/icons/favicon-144.png">

<!-- Favicon Chrome for Android -->
<link rel="shortcut icon" sizes="196x196" href="./images/icons/favicon-196.png">

<!-- Open Graph -->
<meta property="og:type" content="website">
<meta property="og:url" content="{{url_site}}">
<meta property="og:title" content="{{title}}">
<meta property="og:image" content="./images/{{share_image}}.jpg">
<meta property="og:description" content="{{description}}">
<meta property="og:site_name" content="{{site_name}}">
<meta property="og:locale" content="{{locale}}">

<!-- Facebook meta -->
<meta property="og:title" content="{{title}}"/>
<meta property="og:image" content="./images/share/{{share_image}}.jpg"/>
<meta property="og:url" content="{{url_site}}"/>
<meta property="og:site-name" content="{{site_name}}"/>
<meta name="description" content="{{description}}"/>

<!-- Twitter meta -->
<meta name="twitter:card" content="summary_large_image">
<!-- Twitter name -->
<meta name="twitter:site" content="@hello">
<!-- Twitter name -->
<meta name="twitter:creator" content="@hello">
<meta name="twitter:title" content="{{title}}">
<meta name="twitter:description" content="{{description}}">
<meta name="twitter:image:src" content="./images/{{share_image}}.jpg">

<!-- GOOGLE + Share -->
<meta itemprop="name" content="{{title}}">
<meta itemprop="description" content="{{description}}">
<meta itemprop="image" content="./images/share/{{share_image}}.jpg">

<!-- CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/gridlex/2.3.1/gridlex.min.css">
<link rel="stylesheet" href="./css/style.css">
